header, footer {
    padding: 1px;
    color: white;
    background-color:#D4AC0D;
    clear: left;
    text-align: center;
}

body {
	background-color: cornsilk;
}

li {
    float: left;
    }

li a {
    display: block;
    padding: 5px;
	}