
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');

header, footer{
    padding: 1px;
    color: white;
    background-color:#D4AC0D;
    text-align: center;
	font-family: "Bungee Inline", cursive;
}

header{
	font-size: 25px
}

p {
   Text-align: center;
       color: GoldenRod; 
   }

h3, h2 { Text-align: center;
    color: Black; 
	}

a:link {
    text-decoration: none;
    color: black;
	font-size: 20px;
	font-weight: normal
}
  
a:visited {
    color: white;
}
  
a:hover {
    font-weight: bold; 
	}
  
a:active {
   color: white;
   }
   
body {
	background-color: cornsilk;
}

li {
    float: left;
    }

li a {
    display: block;
    padding: 5px;
	}
	
.table th, .table td, .table {
    border-top: none !important;
    border-left: none !important;
    border-bottom: none !important;
}
.fixed-table-container {
    border:0px;
    border-bottom: none !important;
}

