
#container { 
  background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/4/47/FMFloat.jpg/220px-FMFloat.jpg");
  background-attachment: fix;
  background-position: center;
  background-position: top;
  background-repeat: no-repeat;
  height: 220px;
  width: 100%;
} 
body {
    background-color: lightgray;
}

h1, h2 {
    color: Darkgreen;
	
}

h3, h4, h5 {
    color: Darkgreen;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

ul {
    color: Darkgreen;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	font-style: italic
}

caption {
    color: Darkgreen;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

tr {
    color: Darkgreen;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}