
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');

header, footer {
    padding: 1px;
    color: white;
    background-color:#D4AC0D;
    text-align: center;
	font-family: "Bungee Inline", cursive;
}

header{
	font-size: 25px
}

body {
	background-color: cornsilk;
}

li {
    float: left;
    }

li a {
    display: block;
    padding: 5px;
	}