
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');

header, footer {
    padding: 1px;
    color: white;
    background-color:#D4AC0D;
    text-align: center;
	font-family: "Bungee Inline", cursive;
}

header{
	font-size: 25px
}

a:link {
    text-decoration: none;
    color: black;
	font-size: 20px;
	font-weight: normal
}
  
a:visited {
    color: white;
}
  
a:hover {
    font-weight: bold; 
	}
  
a:active {
   color: white;
   }
   
body {
	background-color: cornsilk;
}

li {
    float: left;
    }

li a {
    display: block;
    padding: 5px;
	}