body {
    background-color: lightgray;
}

h1 {
    color: Darkgreen;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

h3 {
    color: Darkgreen;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

h5 {
    color: Darkgreen;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

ul {
    color: Darkgreen;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

caption {
    color: Darkgreen;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

tr {
    color: Darkgreen;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}