
body {
    background-color: lightgray;
}

h1, h2 {
    color: Darkgreen;
	
}

h4, h5 {
    color: Darkgreen;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

ul {
    color: Darkgreen;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	font-style: italic
}

caption {
    color: Darkgreen;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

tr {
    color: Darkgreen;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}